@use "@/shared/styles/variables" as *;

.text {
  margin: 0;
}

.title {
  font-size: 44px;
  font-weight: 700;
}

.button {
  font-size: 18px;
  font-weight: 400;
}

.p20 {
  font-size: 20px;
}

.p18 {
  font-size: 18px;
}

.p16 {
  font-size: 16px;
}

.p14 {
  font-size: 14px;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.primary {
  color: $text-primary;
}

.secondary {
  color: $text-secondary;
}

.accent {
  color: $text-accent;
}

.clamp {
  display: -webkit-box;
  // Используем интерполяцию SCSS, чтобы скрыть свойство от Autoprefixer
  #{"-webkit-box-orient"}: vertical;
  -webkit-line-clamp: inherit; /* наследуем из inline style компонента Text */
  overflow: hidden;
  word-break: break-all;
}
