@use "@/shared/styles/variables" as *;

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.box {
  width: 40px;
  height: 40px;
  background-color: $checkbox-bg;
  outline: 1px solid transparent;
  outline-offset: -1px;
  box-sizing: border-box;

  &:hover:not(.disabled) {
    outline-color: $checkbox-border-hover;
    background-color: $checkbox-bg-hover;
  }
}

.disabled {
  background-color: $checkbox-bg-disabled;
  color: $checkbox-check-disabled;
  cursor: not-allowed;
}
